body {
  margin: 0;
  font-family: Noto Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}
li,
ul {
  list-style: none;
  padding: 0;
}

body {
  background: #000 url(img/pexels-bess-hamiti-36487.jpg) no-repeat fixed center
    center;
  background-size: cover;
}
hr {
  background-color: black;
  width: 100%;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}
